.container-body {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.custom-bar {
    color: white;
    background: linear-gradient(45deg, #b229ea, #29eab8);
    height: 56px;
    border: 1px solid grey;
}

h2 {
    margin: 0px;
    width: auto;
    text-align: center;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background: linear-gradient(45deg, #29eab8, #b229ea);
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: lightgoldenrodyellow;
    color: black;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}
