/* log-in****************************************************************************************8 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #fbf3ff;
}
.container {
    position: absolute;
    max-width: 800px;
    height: auto;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.myCard {
    position: relative;
    background: #fff;
    border-radius: 25px;
    padding: 24px;
    box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
}
.box {
    position: relative;
    margin: 20px;
    margin-bottom: 100px;
}
.myLeftCtn .myInput {
    width: 80%;
    border-radius: 25px;
    padding: 10px;
    padding-left: 50px;
    border: none;

    box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
}
.myLeftCtn .myInput:focus {
    outline: none;
}
.myForm {
    position: relative;
    margin-top: 50px;
}
.myLeftCtn .butt {
    background: linear-gradient(45deg, #b229ea, #29eab8);
    color: #fff;
    width: 80%;
    border: none;
    border-radius: 25px;
    padding: 10px;

    box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
}
.myLeftCtn .butt:hover {
    background: linear-gradient(45deg, #c7b5ce, #29eab8);
}
.myLeftCtn .butt:focus {
    outline: none;
}
.myLeftCtn .fas {
    position: relative;
    color: #ec7dc2;
    left: 36px;
}
.butt_out {
    background: transparent;
    color: #fff;
    width: 120px;
    border: 2px solid#fff;
    border-radius: 25px;
    padding: 10px;
}
.butt_out:hover {
    border: 2px solid#eecbff;
}
.butt_out:focus {
    outline: none;
}

/* user-profile88888************************************************************************* */
.common-div {
    display: inline-flex;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 40px;
}
.common {
    width: 50%;
}
.common-lavender {
    background-color: lavender;
}
@media only screen and (max-width: 500px) {
    .common-div {
        display: inline-block;
        text-align: center;
    }
    .common {
        width: 100%;
    }
}
